

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

a{
    text-decoration: none;
}

.container {
    max-width: 1146px;
    padding: 0 10px;
    margin: 0 auto;
  }

  ul {
    list-style: none;
  }

.header{
    background-color: red;
}

